
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    left: 100%;
    top: -11px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    border-color: transparent;
    border-style: solid;
    border-left-color: #ccc;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-submenu a {
    color: darkgrey;
}

.dropdown-submenu a:hover {
    color: black;
    text-decoration: none;
}