<footer class="footer-dark flex-shrink-0 mt-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Buy</h3>
                <ul>
                    <li>
                        <a>Registration</a>
                    </li>
                    <li>
                        <a>Refund</a>
                    </li>
                    <li>
                        <a>Bidding & Buying</a>
                    </li>
                    <li>
                        <a>Stores</a>
                    </li>
                    <li>
                        <a>Guide</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Sell</h3>
                <ul>
                    <li>
                        <a>Start Selling</a>
                    </li>
                    <li>
                        <a>Learn to Sell</a>
                    </li>
                    <li>
                        <a>Business Seller</a>
                    </li>
                    <li>
                        <a>Affiliates</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Tools & Apps</h3>
                <ul>
                    <li>
                        <a>Developers</a>
                    </li>
                    <li>
                        <a>Security Center</a>
                    </li>
                    <li>
                        <a>Official Time</a>
                    </li>
                    <li>
                        <a>Site Map</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>About</h3>
                <ul>
                    <li>
                        <a>Company</a>
                    </li>
                    <li>
                        <a>Policies</a>
                    </li>
                    <li>
                        <a>Advertise</a>
                    </li>
                    <li>
                        <a>Investors</a>
                    </li>
                    <li>
                        <a>News</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Help & Contact</h3>
                <ul>
                    <li>
                        <a>Resolution Center</a>
                    </li>
                    <li>
                        <a>Seller Information Center</a>
                    </li>
                    <li>
                        <a>Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Community</h3>
                <ul>
                    <li>
                        <a>Announcements</a>
                    </li>
                    <li>
                        <a>Answer Center</a>
                    </li>
                    <li>
                        <a>Discuss Boards</a>
                    </li>
                    <li>
                        <a>Groups</a>
                    </li>
                    <li>
                        <a>Top Shared</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Stay Connected</h3>
                <ul>
                    <li>
                        <a>Facebook</a>
                    </li>
                    <li>
                        <a>Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                    class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a
                href="#"><i class="icon ion-social-instagram"></i></a></div>
        <p class="copyright">Web Nerdy Team © 2019</p>
        <p class="copyright">Phùng Trần Minh Thương - Nguyễn Hữu Tiến - Nguyễn Thanh Trường</p>
        <p class="copyright">1753109-1753110-1753118</p>
    </div>
</footer>