<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">

    <div class="d-flex flex-grow-1">
        <a class="navbar-brand" href="/"><i class="fa fa-legal"></i> Online Auction</a>
    </div>

    <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse flex-shrink-1 flex-grow-0 order-0" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item" role="presentation">
                <div class="dropdown">
                    <a class="btn btn-primary dropdown-toggle bg-transparent border-0" style="margin-top: 2px;"
                        role="button" id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Category</a>
                    <ul class="dropdown-menu mt-2" role="menu" aria-labelledby="dropdownCategory">
                        <li class="dropdown-item dropdown-submenu">
                            <a href="/search">Continent</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="/search">Plain</a></li>
                                <li class="dropdown-item"><a href="/search">Mountain</a></li>
                                <li class="dropdown-item"><a href="/search">Valley</a></li>
                                <li class="dropdown-item"><a href="/search">Forest</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-item dropdown-submenu">
                            <a href="/search">Ocean</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="/search">Surface Ocean</a></li>
                                <li class="dropdown-item"><a href="/search">Deep Ocean</a></li>
                                <li class="dropdown-item"><a href="/search">Seafloor Sediments</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-item dropdown-submenu">
                            <a href="/search">Sky</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="/search">Troposphere</a></li>
                                <li class="dropdown-item"><a href="/search">Stratosphere</a></li>
                                <li class="dropdown-item"><a href="/search">Mesosphere</a></li>
                                <li class="dropdown-item"><a href="/search">Thermosphere</a></li>
                                <li class="dropdown-item"><a href="/search">Exosphere</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-item dropdown-submenu">
                            <a href="/search">Space</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="/search">Star</a></li>
                                <li class="dropdown-item"><a href="/search">Galaxy</a></li>
                                <li class="dropdown-item"><a href="/search">Cosmos</a></li>
                                <li class="dropdown-item"><a href="/search">Universe</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <form class="mr-2 my-auto w-100 d-inline-block order-1" action="/search">
        <div class="input-group">
            <input type="text" class="form-control border border-right-0" placeholder="Search..." name="search">
            <span class="input-group-append">
                <button class="btn btn-outline-light border border-left-0" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>

    <div class="btn-group-toggle navbar-collapse collapse flex-shrink-1 flex-grow-0 order-2"
        id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                    type="button"><i class="fas fa-user"></i></button>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <a class="dropdown-item" role="presentation" href="/login">Login</a>
                </div>
            </li>
        </ul>
    </div>

</nav>