<main>
    <div class="row d-md-flex m-0">

        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle pl-2" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administrator options
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/category">Category</a>
                <a class="dropdown-item" href="/product">Product</a>
                <a class="dropdown-item" href="/user">User</a>
            </div>
        </div>


        <div class="col">
            <h2 class="text-info d-md-flex d-lg-flex justify-content-lg-center align-items-lg-center"><em>Welcome
                    Administrator: admin</em><br></h2>
        </div>
    </div>

    <img src="/assets/img/wave-on-white.jpg" width="100%" height="50%">



    <script src="/assets/js/category.js"></script>
</main>