<link rel="stylesheet" href="/assets/css/profile.css">
<link rel="stylesheet" href="/assets/css/projects-horizontal.css">

<main>
    <div href="/assets/css/Profile.css" class="container bootstrap snippets" style="margin-top:2%">
        <div class="row" id="user-profile">
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="main-box clearfix">
                    <h2>Minh Thuong</h2>
                    <img src="#" class="profile-img img-responsive center-block">
                    <div class="profile-label">
                        <span class="label label-danger">Bidder</span>
                    </div>

                    <div class="profile-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <span>8.6</span>
                    </div>

                    <div class="profile-details">
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-cubes"></i>Sales: <span>456</span></li>
                            <li><i class="fa-li fa fa-gavel"></i>Auctions: <span>828</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-8 col-sm-8">
                <div class="main-box clearfix">
                    <div class="profile-header">
                        <h3><span>User info</span></h3>
                        <a href="/edit-profile" class="btn btn-primary edit-profile">
                            <i class="fa fa-pencil-square fa-lg"></i> Edit profile
                        </a>
                    </div>

                    <div class="row profile-user-info">
                        <div class="col-sm-8">
                            <div class="profile-user-details clearfix">
                                <div class="profile-user-details-label">
                                    First Name:
                                </div>
                                <div class="profile-user-details-value">
                                    Thuong
                                </div>
                            </div>
                            <div class="profile-user-details clearfix">
                                <div class="profile-user-details-label">
                                    Last Name:
                                </div>
                                <div class="profile-user-details-value">
                                    Minh
                                </div>
                            </div>
                            <div class="profile-user-details clearfix">
                                <div class="profile-user-details-label">
                                    Email:
                                </div>
                                <div class="profile-user-details-value">
                                    minhthuong@gmail.com
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:2%; margin-left:2%;margin-right:2%">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab"
                                        href="#tab-1">Watchlist</a></li>
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab"
                                        href="#tab-2">Participating Auctions</a></li>
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Won
                                        Auctions</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="tab-1">
                                    <div class="projects-horizontal">
                                        <div class="container">
                                            <div id="watchList" class="row projects"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="tab-2">
                                    <div class="projects-horizontal">
                                        <div class="container">
                                            <div id="participatingAuctions" class="row projects"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="wonAuctions">
                                    <div class="projects-horizontal">
                                        <div class="container">
                                            <div id="participatingAuctions" class="row projects"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/assets/js/bidderViewList.js"></script>