<link rel="stylesheet" href="/assets/css/profile.css">


<main>
    <div class="category-info">
        <div>
            <p>Category: xxxxxxxxxxxxxxxxx</p>
            <p>This category contains xxxxxxxxxxxxxx works.
                <br>Something xxxxxxxxxxxxxxxxxxxxxxx
                <br>Something xxxxxxxxxxxxxxxxxxxxxxxxxx
                <br>Quantity: XX
                <br>Note something.
                <br>Another thing.
            </p>
        </div>
        <div class="text-center d-block category-button"><a class="btn btn-primary text-uppercase edit" role="button"
                href="#">Edit</a>
            <div class="button-devider"></div><a class="btn btn-primary text-uppercase remove" role="button"
                href="#">Remove</a>
        </div>
    </div>
</main>