<link rel="stylesheet" href="/assets/css/profile.css">
<main>
    <div class="search-category col-12 col-6-1">
        <div class="search-category-name">
            <div class="search-category-item col-4-1">
                <div class="table-responsive d-lg-flex">
                    <table class="table category">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="/category-info">Art</a></td>
                                <td><a href="/category-info">Books</a></td>
                                <td><a href="/category-info">Photos</a></td>
                                <td><a href="/category-info">Coins</a></td>
                            </tr>
                            <tr>
                                <td><a href="/category-info">Stamp</a></td>
                                <td><a href="/category-info">Accessorise</a></td>
                                <td><a href="/category-info">Cars</a></td>
                                <td><a href="/category-info">Other</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center d-block category-ar-button"><button class="btn btn-primary add"
                type="button">Add</button>
            <div class="button-devider"></div><button class="btn btn-primary remove" type="button">Remove</button>
        </div>
    </div>
</main>