<main>
    <div class="row bg-white w-100 m-0">
        <div style="width:175px;border-right: 1px solid gray;" class="shadow-sm">
            <ul>
                <li class="dropdown-item dropdown-submenu">
                    <a href="/search">Continent</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="/search">Plain</a></li>
                        <li class="dropdown-item"><a href="/search">Mountain</a></li>
                        <li class="dropdown-item"><a href="/search">Valley</a></li>
                        <li class="dropdown-item"><a href="/search">Forest</a></li>
                    </ul>
                </li>
                <li class="dropdown-item dropdown-submenu">
                    <a href="/search">Ocean</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="/search">Surface Ocean</a></li>
                        <li class="dropdown-item"><a href="/search">Deep Ocean</a></li>
                        <li class="dropdown-item"><a href="/search">Seafloor Sediments</a></li>
                    </ul>
                </li>
                <li class="dropdown-item dropdown-submenu">
                    <a href="/search">Sky</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="/search">Troposphere</a></li>
                        <li class="dropdown-item"><a href="/search">Stratosphere</a></li>
                        <li class="dropdown-item"><a href="/search">Mesosphere</a></li>
                        <li class="dropdown-item"><a href="/search">Thermosphere</a></li>
                        <li class="dropdown-item"><a href="/search">Exosphere</a></li>
                    </ul>
                </li>
                <li class="dropdown-item dropdown-submenu">
                    <a href="/search">Space</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="/search">Star</a></li>
                        <li class="dropdown-item"><a href="/search">Galaxy</a></li>
                        <li class="dropdown-item"><a href="/search">Cosmos</a></li>
                        <li class="dropdown-item"><a href="/search">Universe</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div style="width: calc(100% - 200px);text-shadow: 2px 3px darkolivegreen; color:slategray;display: flex;">
            <h1 style="margin: auto;text-align: center;">WELCOME TO ONLINE AUCTION</h1>
        </div>
    </div>

    <br>

    <div class="container-xl m-auto bg-white">
        <h4 class="m-0 font-italic">Almost Finished</h4>
        <hr class="m-0">
        <div class="row">
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/happy.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Happy Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">69 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">13d</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">101$</p>
                </a>
            </div>
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/thinking.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Thinking Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">96 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">15m</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">103$</p>
                </a>
            </div>
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/happy.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Happy Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">22 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">12h</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">99$</p>
                </a>
            </div>
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/crying.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Crying Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">33 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">18h</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">102$</p>
                </a>
            </div>
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/smile.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Smile Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">74 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">16d</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">101$</p>
                </a>
            </div>
        </div>
    </div>

    <br>

    <div class="container-xl m-auto bg-white">
        <h4 class="m-0 font-italic">Most Bids</h4>
        <hr class="m-0">
        <div class="row">
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/happy.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Happy Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">69 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">13d</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">101$</p>
                </a>
            </div>
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/thinking.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Thinking Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">96 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">15m</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">103$</p>
                </a>
            </div>
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/happy.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Happy Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">22 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">12h</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">99$</p>
                </a>
            </div>
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/crying.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Crying Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">33 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">18h</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">102$</p>
                </a>
            </div>
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/smile.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Smile Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">74 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">16d</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">101$</p>
                </a>
            </div>
        </div>
    </div>

    <br>

    <div class="container-xl m-auto bg-white">
        <h4 class="m-0 font-italic">Highest Price</h4>
        <hr class="m-0">
        <div class="row">
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/happy.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Happy Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">69 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">13d</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">101$</p>
                </a>
            </div>
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/thinking.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Thinking Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">96 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">15m</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">103$</p>
                </a>
            </div>
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/happy.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Happy Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">22 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">12h</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">99$</p>
                </a>
            </div>
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/crying.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Crying Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">33 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">18h</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">102$</p>
                </a>
            </div>
            <div class="col-4 col-sm-3 col-lg-2">
                <a href="/detail">
                    <img src="/assets/img/smile.png" class="rounded img-fluid m-1" alt="smile">
                    <h5 class="text-center">Smile Face</h5>
                    <p class="text-center m-0">Erod Nelps</p>
                    <div class="clearfix">
                        <p class="float-left m-0">200$</p>
                        <p class="float-right m-0">74 Bids</p>
                    </div>
                    <div class="clearfix">
                        <p class="float-left m-0">12/1/2019</p>
                        <p class="float-right text-danger m-0">16d</p>
                    </div>
                    <p class="text-center text-info font-weight-bold">101$</p>
                </a>
            </div>
        </div>
    </div>
</main>