<link rel="stylesheet" href="/assets/css/ad-product-img.css">

<main>
    <div>
        <div class="table-responsive">
            <table class="table product-table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/product-info"><img src="/assets/img/statue.jpg" class="ad-product-img"></a>
                        </td>
                        <td>Statue of Demon</td>
                        <td>Alakazam</td>
                        <td>10/3/2019</td>
                        <td style="width: ss;"><i class="fa fa-edit product-edit"></i>
                            <div class="button-devider"></div><i class="fa fa-remove product-edit"></i>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="/product-info"><img src="/assets/img/statue.jpg" class="ad-product-img"></a>
                        </td>
                        <td>Statue of Demon</td>
                        <td>Alakazam</td>
                        <td>10/3/2019</td>
                        <td style="width: ss;"><i class="fa fa-edit product-edit"></i>
                            <div class="button-devider"></div><i class="fa fa-remove product-edit"></i>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="/product-info"><img src="/assets/img/statue.jpg" class="ad-product-img"></a>
                        </td>
                        <td>Statue of Demon</td>
                        <td>Alakazam</td>
                        <td>10/3/2019</td>
                        <td style="width: ss;"><i class="fa fa-edit product-edit"></i>
                            <div class="button-devider"></div><i class="fa fa-remove product-edit"></i>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="/product-info"><img src="/assets/img/statue.jpg" class="ad-product-img"></a>
                        </td>
                        <td>Statue of Demon</td>
                        <td>Alakazam</td>
                        <td>10/3/2019</td>
                        <td style="width: ss;"><i class="fa fa-edit product-edit"></i>
                            <div class="button-devider"></div><i class="fa fa-remove product-edit"></i>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="/product-info"><img src="/assets/img/statue.jpg" class="ad-product-img"></a>
                        </td>
                        <td>Statue of Demon</td>
                        <td>Alakazam</td>
                        <td>10/3/2019</td>
                        <td style="width: ss;"><i class="fa fa-edit product-edit"></i>
                            <div class="button-devider"></div><i class="fa fa-remove product-edit"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>