<link rel="stylesheet" href="/assets/css/profile.css">
<link rel="stylesheet" href="/assets/css/tabset.css">
<link rel="stylesheet" href="/assets/css/projects-horizontal.css">



<main>
  <div style="margin-left:5%; margin-right:5%; margin-top:2%">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Ongoing</a></li>
      <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Concluded</a></li>
      <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Tab 3</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" role="tabpanel" id="tab-1">
        <div class="projects-horizontal">
          <div class="container">
            <div id="ongoingProContainer" class="row projects">
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" role="tabpanel" id="tab-2">
        <div class="projects-horizontal">
          <div class="container">
            <div id="concludedProContainer" class="row projects"></div>
          </div>
        </div>

      </div>
      <div class="tab-pane" role="tabpanel" id="tab-3">
        <p>Content for tab 3.</p>
      </div>
    </div>
  </div>
</main>

<script src="/assets/js/sellerproduct.js"></script>