<link rel="stylesheet" href="/assets/css/tabset.css">
<main>
    <div class="ad-user-nav">
        <div class="tabset">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="tab1" aria-controls="user" checked="">
            <label for="tab1">User</label>
            <!-- Tab 2 -->
            <input type="radio" name="tabset" id="tab2" aria-controls="seller">
            <label for="tab2">Seller</label>
            <!-- Tab 3 -->
            <input type="radio" name="tabset" id="tab3" aria-controls="bidder">
            <label for="tab3">Bidder</label>

            <div class="tab-panels">
                <section id="user" class="tab-panel">
                    <div class="table-responsive">
                        <table class="table product-table">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>DOB</th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="/user-info"><img src="/assets/img/user1001.png"
                                                class="user-img" /></a></td>
                                    <td>1001</td>
                                    <td>Alakazam</td>
                                    <td>alkz1010@gmail.com</td>
                                    <td>1/2/1980</td>
                                    <td style="width: ss;">
                                        <i class="fa fa-edit product-edit d-block"></i>
                                        <i class="fa fa-remove product-edit d-block"></i>

                                    </td>
                                </tr>

                                <tr>
                                    <td><a href="/user-info"><img src="/assets/img/user1001.png"
                                                class="user-img" /></a></td>
                                    <td>1001</td>
                                    <td>Lena Mayer Landuk</td>
                                    <td>lena1818@gmail.com</td>
                                    <td>15/2/1999</td>
                                    <td style="width: ss;">
                                        <i class="fa fa-edit product-edit d-block"></i>
                                        <i class="fa fa-remove product-edit d-block"></i>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </section>
                <section id="seller" class="tab-panel">
                    <div class="table-responsive">
                        <table class="table product-table">
                            <thead>
                                <tr>
                                    <th>Seller</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>DOB</th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="/user-info"><img src="/assets/img/user1001.png"
                                                class="user-img" /></a></td>
                                    <td>1001</td>
                                    <td>Alakazam</td>
                                    <td>alkz1010@gmail.com</td>
                                    <td>1/2/1980</td>
                                    <td style="width: ss;">
                                        <i class="fa fa-edit product-edit d-block"></i>
                                        <i class="fa fa-arrow-down d-block"></i>
                                        <i class="fa fa-remove product-edit d-block"></i>
                                    </td>
                                </tr>

                                <tr>
                                    <td><a href="/user-info"><img src="/assets/img/user1002.png"
                                                class="user-img" /></a></td>
                                    <td>1001</td>
                                    <td>Lena Mayer Landuk</td>
                                    <td>lena1818@gmail.com</td>
                                    <td>15/2/1999</td>
                                    <td style="width: ss;">
                                        <i class="fa fa-edit product-edit d-block"></i>
                                        <i class="fa fa-arrow-down d-block"></i>
                                        <i class="fa fa-remove product-edit d-block"></i>

                                    </td>
                                </tr>


                            </tbody>
                        </table>
                </section>
                <section id="bidder" class="tab-panel">
                    <table class="table product-table">
                        <thead>
                            <tr>
                                <th>Bidder</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>DOB</th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="/user-info"><img src="/assets/img/user1001.png" class="user-img" /></a>
                                </td>
                                <td>1001</td>
                                <td>Alakazam</td>
                                <td>alkz1010@gmail.com</td>
                                <td>1/2/1980</td>
                                <td style="width: ss;">
                                    <i class="fa fa-edit product-edit d-block"></i>
                                    <i class="fa fa-arrow-up d-block"></i>
                                    <i class="fa fa-remove product-edit d-block"></i>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="/user-info"><img src="/assets/img/user1002.png" class="user-img" /></a>
                                </td>
                                <td>1001</td>
                                <td>Lena Mayer Landuk</td>
                                <td>lena1818@gmail.com</td>
                                <td>15/2/1999</td>
                                <td style="width: ss;">
                                    <i class="fa fa-edit product-edit d-block"></i>
                                    <i class="fa fa-arrow-up d-block"></i>
                                    <i class="fa fa-remove product-edit d-block"></i>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </section>
            </div>

        </div>

        <div class="d-xl-flex justify-content-xl-center align-items-xl-center add-user-button"><button
                class="btn btn-primary" type="button">Add</button></div>
    </div>
</main>